<div class="card h-100">
  <img src="{{ user.image }}" alt="User picture" class="card-img-top" />
  <div class="card-body h-100">
    <h3 class="h4 text-center mb-auto">
      {{ user.first_name }} {{ user.last_name }}
    </h3>
  </div>

  <div class="d-flex flex-wrap justify-content-evenly gap-1 mb-3 px-2">
    <div class="d-flex flex-column">
      <a class="text-center">
        <div>
          <img
            src="/svg/search-svg.svg"
            alt="Search user details"
            width="24"
            height="24"
          />
        </div>
        <span class="text-nowrap d-md-none d-block d-xl-block"
          >Ver detalles</span
        >
      </a>
    </div>
    <a class="text-center">
      <div>
        <img
          src="/svg/reload-svg.svg"
          alt="Reload user data"
          width="24"
          height="24"
        />
      </div>
      <span class="text-nowrap d-md-none d-block d-xl-block">Actualizar</span>
    </a>
    <a class="text-center">
      <div>
        <img
          src="/svg/delete-svg.svg"
          alt="Delete user"
          width="24"
          height="24"
        />
      </div>
      <span class="text-nowrap d-md-none d-block d-xl-block">Eliminar</span>
    </a>
  </div>
</div>
