<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="text-center mb-4">{{ title }}</h2>

          <form [formGroup]="userForm" (ngSubmit)="submitForm()">
            <div class="mb-3">
              <label for="first_name" class="form-label">Nombre:</label>
              <input
                type="text"
                id="first_name"
                formControlName="first_name"
                class="form-control"
                placeholder="Nombre del usuario"
                [class.is-invalid]="
                  userForm.get('first_name')?.invalid &&
                  userForm.get('first_name')?.touched
                "
              />
              @if (userForm.get('first_name')?.invalid &&
              userForm.get('first_name')?.touched) {
              <div class="invalid-feedback">
                {{ getErrorMessage("first_name") }}
              </div>
              }
            </div>

            <div class="mb-3">
              <label for="last_name" class="form-label">Apellido:</label>
              <input
                type="text"
                id="last_name"
                formControlName="last_name"
                class="form-control"
                placeholder="Apellido del usuario"
                [class.is-invalid]="
                  userForm.get('last_name')?.invalid &&
                  userForm.get('last_name')?.touched
                "
              />
              @if (userForm.get('last_name')?.invalid &&
              userForm.get('last_name')?.touched) {
              <div class="invalid-feedback">
                {{ getErrorMessage("last_name") }}
              </div>
              }
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input
                type="email"
                id="email"
                formControlName="email"
                class="form-control"
                placeholder="ejemplo@correo.com"
                [class.is-invalid]="
                  userForm.get('email')?.invalid &&
                  userForm.get('email')?.touched
                "
              />
              @if (userForm.get('email')?.invalid &&
              userForm.get('email')?.touched) {
              <div class="invalid-feedback">
                {{ getErrorMessage("email") }}
              </div>
              }
            </div>

            <div class="mb-3">
              <label for="image" class="form-label">URL de la imagen:</label>
              <input
                type="url"
                id="image"
                formControlName="image"
                class="form-control"
                placeholder="https://ejemplo.com/imagen.jpg"
                [class.is-invalid]="
                  userForm.get('image')?.invalid &&
                  userForm.get('image')?.touched
                "
              />
              @if (userForm.get('image')?.invalid &&
              userForm.get('image')?.touched) {
              <div class="invalid-feedback">
                {{ getErrorMessage("image") }}
              </div>
              }
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a
                type="button"
                class="btn btn-secondary me-md-2"
                [routerLink]="['/home']"
              >
                Volver
              </a>
              <input
                type="submit"
                [disabled]="userForm.invalid"
                class="btn btn-primary px-4"
                value="{{ buttonText }}"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
